@model FinalFitnessWorld.Models.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branch1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch1.Name)
        </dd>
        @if (User.IsInRole("trainer") | User.IsInRole("admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Customer1.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer1.Name)
            </dd>
        }
        @if (User.IsInRole("customer") | User.IsInRole("admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Trainer1.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trainer1.Name)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationStatus)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("customer") | User.IsInRole("admin"))
    {
        @Html.ActionLink("Edit Reservation Details", "Edit", new { id = Model.Id })
    }
    | @Html.ActionLink("Back to Reservations List", "Index")
</p>
